/* line 2, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\000032}}
.nyheder_front_block {
  color: #fff;
  font-size: 14pt;
  display: inline-block;
  width: 98.5%;
  height: 35px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  background-color: #d70a8c;
}
/* line 13, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000313}}
.info_front_block {
  color: #fff;
  font-size: 14pt;
  display: inline-block;
  width: 100%;
  height: 35px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  background-color: #d7e132;
}
/* line 24, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000324}}
.arrangementer_front_block {
  color: #fff;
  font-size: 14pt;
  display: inline-block;
  width: 99%;
  height: 35px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #00b9be;
}
/* line 34, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000334}}
.dagens-ret {
  color: #D6E033;
  font-weight: bold;
}
/* line 38, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000338}}
.view-calendar .views-row {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* line 42, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000342}}
.views-field-field-list-image {
  display: inline-block;
}
/* line 45, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000345}}
.subheading {
  display: inline-block;
  max-width: 23em;
  margin: 0 1.4em 0.5em 0.5em;
  position: absolute;
}
/* line 51, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000351}}
.field-name-field-tags .field-item:after {
  content: ",";
}
/* line 54, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000354}}
.field-name-field-tags .field-item {
  display: inline;
  margin-right: 0.5em;
}
/* line 58, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000358}}
.view-Nyheder .views-field-title .field-content > a {
  font-weight: bold;
  font-size: 12pt;
  color: #D70A8C;
  text-transform: uppercase;
}
/* line 64, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000364}}
.view-arrangementer .views-field-title .field-content > a {
  font-weight: bold;
  font-size: 12pt;
  color: #00b9be;
  text-transform: uppercase;
}
/* line 70, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000370}}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
