/* line 2, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\000032}}
.nyheder_front_block {
  color: #fff;
  font-size: 14pt;
  display: inline-block;
  width: 100%;
  height: 35px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #d70a8c;
}
/* line 12, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000312}}
.info_front_block {
  color: #fff;
  font-size: 14pt;
  display: inline-block;
  width: 100%;
  height: 35px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  background-color: #d7e132;
}
/* line 23, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000323}}
.arrangementer_front_block {
  color: #fff;
  font-size: 14pt;
  display: inline-block;
  width: 100%;
  height: 35px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #00b9be;
}
/* line 33, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000333}}
.dagens-ret {
  color: #D6E033;
  font-weight: bold;
}
/* line 37, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000337}}
.view-calendar .views-row {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* line 41, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000341}}
.views-field-field-list-image {
  display: inline-block;
}
/* line 44, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000344}}
.subheading {
  display: inline-block;
  margin: 0 1em 0.2em 0.5em;
  position: absolute;
  min-width: 60%;
}
/* line 50, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000350}}
.field-name-field-tags .field-item:after {
  content: ",";
}
/* line 53, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000353}}
.field-name-field-tags .field-item {
  display: inline;
  margin-right: 0.5em;
}
/* line 57, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000357}}
.views-field-title .field-content > a {
  font-weight: bold;
  color: #337ab7;
  text-transform: uppercase;
}
/* line 62, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000362}}
.view-Nyheder .views-field-title .field-content > a {
  color: #D70A8C;
}
/* line 65, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000365}}
.view-arrangementer .views-field-title .field-content > a {
  color: #00b9be;
}
/* line 68, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000368}}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
/* line 72, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000372}}
.dropdown:hover .dropdown-menu {
  display: block;
}
/* line 75, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000375}}
.dropdown-menu {
  background-color: #F5F5F5;
  padding: 0;
  box-shadow: none;
  border: none;
  width: 100%;
  min-height: 255px;
  border-bottom: 0.1em outset;
  border-left: 0.1em outset;
  border-color: #01b2bb;
}
/* line 86, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000386}}
.dropdown-menu > li > a {
  color: black;
  text-transform: uppercase;
  padding: 5px 5px;
  font-size: 90%;
}
/* line 96, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000396}}
.navbar-nav > li > .dropdown-menu {
  border-radius: 0;
}
/* line 99, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\0000399}}
.menu.nav li > a:hover,
.menu.nav li > a:focus,
.active > a {
  background-color: #01B2BB;
  color: white;
  text-decoration: none;
}
/* line 104, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\00003104}}
.menu.nav > .active > a,
.menu.nav > .active > a:hover,
.menu.nav > .active > a:focus {
  background-color: #01B2BB;
  color: white;
}
/* line 108, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\00003108}}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: white;
  background-color: #01B2BB;
}
/* line 112, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\00003112}}
.front .panels-flexible-region-4_x_3-far_right-inside {
  margin-top: 4em;
}
/* line 115, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\00003115}}
.views-field.views-field-created {
  color: gray;
  margin-top: 0.3em;
}
/* line 119, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\00003119}}
.breadcrumb {
  background-color: #01B2BB;
  color: white;
}
/* line 123, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\00003123}}
.breadcrumb a {
  color: white;
}
/* line 126, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\00003126}}
.fastfilter {
  padding: 0;
  list-style-type: none;
}
/* line 130, /var/aegir/platforms/kultur-7.39/sites/all/themes/kultur_theme/less/content.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-7\.39\/sites\/all\/themes\/kultur_theme\/less\/content\.less}line{font-family:\00003130}}
#search_input_wrapper {
  float: left;
  margin-right: 1em;
  margin-top: 0.5em;
}
