/* line 16, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000316}}
html {
  height: 100%;
}
/* line 18, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000318}}
html.overlay-open .navbar-fixed-top {
  z-index: 400;
}
/* line 23, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000323}}
html.js fieldset.collapsed {
  height: auto;
}
/* line 27, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000327}}
html.js input.form-autocomplete {
  background-image: none;
}
/* line 32, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000332}}
.fa-home {
  color: #002e5e;
  font-size: 1.4em;
}
/* line 36, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000336}}
.fa-circle {
  color: #fff;
}
/* line 39, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000339}}
body {
  position: relative;
}
/* line 40, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000340}}
body .navbar-default .navbar-nav > li > a {
  font-size: 18px;
  color: #ffffff;
}
/* line 44, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000344}}
body .navbar-default {
  border-color: transparent;
}
/* line 50, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000350}}
body.admin-expanded.admin-vertical.admin-nw .navbar,
body.admin-expanded.admin-vertical.admin-sw .navbar {
  margin-left: 260px;
}
/* line 54, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000354}}
body .navbar {
  margin-bottom: 0;
}
/* line 58, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000358}}
body.navbar-is-fixed-top {
  padding-top: 64px !important;
}
/* line 61, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000361}}
body.navbar-is-fixed-bottom {
  padding-bottom: 64px !important;
}
/* line 64, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000364}}
body.toolbar {
  padding-top: 30px !important;
}
/* line 66, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000366}}
body.toolbar .navbar-fixed-top {
  top: 30px;
}
/* line 69, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000369}}
body.toolbar.navbar-is-fixed-top {
  padding-top: 94px !important;
}
/* line 73, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000373}}
body.toolbar-drawer {
  padding-top: 64px !important;
}
/* line 75, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000375}}
body.toolbar-drawer .navbar-fixed-top {
  top: 64px;
}
/* line 78, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000378}}
body.toolbar-drawer.navbar-is-fixed-top {
  padding-top: 128px !important;
}
/* line 84, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000384}}
body.admin-menu .navbar-fixed-top {
  top: 29px;
}
/* line 87, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000387}}
body.admin-menu.navbar-is-fixed-top {
  padding-top: 93px !important;
}
/* line 91, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000391}}
body div#admin-toolbar {
  z-index: 1600;
}
/* line 95, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000395}}
body #toolbar,
body #admin-menu,
body #admin-toolbar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 99, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000399}}
body #admin-menu {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1600;
}
/* line 104, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003104}}
body #admin-menu .dropdown li {
  line-height: normal;
}
/* line 111, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003111}}
.navbar.container {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  /* line 112, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003112}}
  .navbar.container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  /* line 115, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003115}}
  .navbar.container {
    max-width: 940px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 118, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003118}}
  .navbar.container {
    max-width: 1140px;
  }
}
/* line 122, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003122}}
.navbar.container > .container {
  margin: 0;
  padding: 0;
  width: auto;
}
/* line 130, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003130}}
#overlay-container,
.overlay-modal-background,
.overlay-element {
  z-index: 1500;
}
/* line 135, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003135}}
#toolbar {
  z-index: 1600;
}
/* line 139, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003139}}
.modal {
  z-index: 1620;
}
/* line 142, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003142}}
.modal-dialog {
  z-index: 1630;
}
/* line 145, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003145}}
.modal-backdrop {
  z-index: 1610;
}
/* line 148, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003148}}
.footer {
  border-top: none;
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
}
/* line 154, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003154}}
.panels-flexible-row-site_template-2-inside {
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* line 160, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003160}}
.element-invisible {
  margin: 0;
  padding: 0;
  width: 1px;
}
/* line 167, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003167}}
.navbar .logo {
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  /* line 171, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003171}}
  .navbar .logo {
    margin-right: 0;
    padding-left: 0;
  }
}
/* line 178, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003178}}
ul.secondary {
  float: left;
}
@media screen and (min-width: 768px) {
  /* line 180, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003180}}
  ul.secondary {
    float: right;
  }
}
/* line 186, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003186}}
.page-header {
  margin-top: 0;
}
/* line 192, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003192}}
.block:first-child h2.block-title {
  margin-top: 0;
}
/* line 198, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003198}}
p:last-child {
  margin-bottom: 0;
}
/* line 204, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003204}}
.region-help > .glyphicon {
  font-size: 18px;
  float: left;
  margin: -0.05em 0.5em 0 0;
}
/* line 209, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003209}}
.region-help .block {
  overflow: hidden;
}
/* line 214, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003214}}
.navbar #block-search-form {
  float: none;
  margin: 5px 0 5px 5px;
}
@media screen and (min-width: 992px) {
  /* line 217, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003217}}
  .navbar #block-search-form {
    float: right;
  }
}
/* line 221, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003221}}
.navbar-search .control-group {
  margin-bottom: 0px;
}
/* line 226, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003226}}
ul.action-links {
  margin: 12px 0;
  padding: 0;
}
/* line 229, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003229}}
ul.action-links li {
  display: inline;
  margin: 0;
  padding: 0 6px 0 0;
}
/* line 234, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003234}}
ul.action-links .glyphicon {
  padding-right: 0.5em;
}
/* line 240, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003240}}
input,
textarea,
select,
.uneditable-input {
  max-width: 100%;
  width: auto;
}
/* line 244, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003244}}
input.error {
  color: #a94442;
  border-color: #ebccd1;
}
/* line 248, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003248}}
fieldset legend.panel-heading {
  float: left;
  line-height: 1em;
  margin: 0;
}
/* line 253, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003253}}
fieldset .panel-body {
  clear: both;
}
/* line 256, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003256}}
fieldset .panel-heading a.panel-title {
  color: inherit;
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;
}
/* line 261, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003261}}
fieldset .panel-heading a.panel-title:hover {
  text-decoration: none;
}
/* line 265, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003265}}
.form-actions {
  clear: both;
}
/* line 268, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003268}}
.resizable-textarea textarea {
  border-radius: 4px 4px 0 0;
}
/* line 272, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003272}}
.radio:first-child,
.checkbox:first-child {
  margin-top: 0;
}
/* line 275, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003275}}
.radio:last-child,
.checkbox:last-child {
  margin-bottom: 0;
}
/* line 279, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003279}}
.help-block,
.control-group .help-inline {
  color: #777777;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
}
/* line 285, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003285}}
.panel-heading {
  display: block;
}
/* line 288, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003288}}
a.tabledrag-handle .handle {
  height: auto;
  width: auto;
}
/* line 294, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003294}}
.error {
  color: #a94442;
}
/* line 297, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003297}}
div.error,
table tr.error {
  background-color: #f2dede;
  color: #a94442;
}
/* line 302, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003302}}
.control-group.error {
  background: none;
}
/* line 304, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003304}}
.control-group.error label,
.control-group.error .control-label {
  color: #a94442;
  font-weight: 600;
}
/* line 308, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003308}}
.control-group.error input,
.control-group.error textarea,
.control-group.error select,
.control-group.error .uneditable-input {
  color: #555555;
  border: 1px solid #cccccc;
}
/* line 312, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003312}}
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #333333;
}
/* line 319, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003319}}
.list-inline > li.first {
  padding-left: 0;
}
/* line 323, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003323}}
.nav-tabs {
  margin-bottom: 10px;
}
/* line 326, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003326}}
ul li.collapsed,
ul li.expanded,
ul li.leaf {
  list-style: none;
  list-style-image: none;
}
/* line 332, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003332}}
.tabs--secondary {
  margin: 0 0 10px;
}
/* line 337, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003337}}
.submitted {
  margin-bottom: 1em;
  font-style: italic;
  font-weight: normal;
  color: #777;
}
/* line 345, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003345}}
.password-strength {
  width: 17em;
  float: right;
  /* LTR */

  margin-top: 1.4em;
}
/* line 350, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003350}}
.password-strength-title {
  display: inline;
}
/* line 353, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003353}}
.password-strength-text {
  float: right;
  /* LTR */

  font-weight: bold;
}
/* line 357, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003357}}
.password-indicator {
  background-color: #949494;
  height: 0.3em;
  width: 100%;
}
/* line 361, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003361}}
.password-indicator div {
  height: 100%;
  width: 0%;
  background-color: #999999;
}
/* line 367, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003367}}
input.password-confirm,
input.password-field {
  width: 16em;
  margin-bottom: 0.4em;
}
/* line 372, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003372}}
div.password-confirm {
  float: right;
  /* LTR */

  margin-top: 1.5em;
  visibility: hidden;
  width: 17em;
}
/* line 378, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003378}}
div.form-item div.password-suggestions {
  padding: 0.2em 0.5em;
  margin: 0.7em 0;
  width: 38.5em;
  border: 1px solid #B4B4B4;
}
/* line 384, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003384}}
div.password-suggestions ul {
  margin-bottom: 0;
}
/* line 387, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003387}}
.confirm-parent,
.password-parent {
  clear: left;
  /* LTR */

  margin: 0;
  width: 36.3em;
}
/* line 395, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003395}}
.progress-wrapper .progress {
  margin-bottom: 10px;
}
/* line 401, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003401}}
.pagination ul > li > a.progress-disabled {
  float: left;
}
/* line 408, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003408}}
.form-autocomplete .glyphicon {
  color: #777777;
  font-size: 120%;
}
/* line 411, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003411}}
.form-autocomplete .glyphicon.glyphicon-spin {
  color: #337ab7;
}
/* line 415, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003415}}
.form-autocomplete .input-group-addon {
  background-color: #ffffff;
}
/* line 422, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003422}}
.ajax-progress .glyphicon {
  font-size: 90%;
  margin: 0 -0.25em 0 0.5em;
}
/* line 428, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003428}}
.glyphicon-spin {
  display: inline-block;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
/* line 435, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003435}}
a .glyphicon-spin {
  display: inline-block;
  text-decoration: none;
}
@-moz-keyframes spin {
  /* line 440, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003440}}
  0% {
    -moz-transform: rotate(0deg);
  }
  /* line 443, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003443}}
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  /* line 448, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003448}}
  0% {
    -webkit-transform: rotate(0deg);
  }
  /* line 451, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003451}}
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  /* line 456, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003456}}
  0% {
    -o-transform: rotate(0deg);
  }
  /* line 459, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003459}}
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  /* line 464, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003464}}
  0% {
    -ms-transform: rotate(0deg);
  }
  /* line 467, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003467}}
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  /* line 472, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003472}}
  0% {
    transform: rotate(0deg);
  }
  /* line 475, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003475}}
  100% {
    transform: rotate(359deg);
  }
}
/* line 480, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003480}}
.glyphicon-refresh {
  -webkit-transform-origin: 50% 45%;
  -moz-transform-origin: 50% 45%;
  -ms-transform-origin: 50% 45%;
  -o-transform-origin: 50% 45%;
  transform-origin: 50% 45%;
}
/**
 * Missing Bootstrap 2 tab styling.
 * @see http://stackoverflow.com/questions/18432577/stacked-tabs-in-bootstrap-3
 * @see http://bootply.com/74926
 */
/* line 493, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003493}}
.tabbable {
  margin-bottom: 20px;
}
/* line 497, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003497}}
.tabs-below > .nav-tabs,
.tabs-left > .nav-tabs,
.tabs-right > .nav-tabs {
  border-bottom: 0;
}
/* line 499, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003499}}
.tabs-below > .nav-tabs .summary,
.tabs-left > .nav-tabs .summary,
.tabs-right > .nav-tabs .summary {
  color: #777777;
  font-size: 12px;
}
/* line 505, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003505}}
.tab-pane > .panel-heading {
  display: none;
}
/* line 508, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003508}}
.tab-content > .active {
  display: block;
}
/* line 514, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003514}}
.tabs-below > .nav-tabs {
  border-top: 1px solid #dddddd;
}
/* line 516, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003516}}
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
/* line 519, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003519}}
.tabs-below > .nav-tabs > li > a {
  border-radius: 0 0 4px 4px;
}
/* line 521, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003521}}
.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #dddddd;
  border-bottom-color: transparent;
}
/* line 529, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003529}}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #dddddd #dddddd #dddddd;
}
/* line 541, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003541}}
.tabs-left > .nav-tabs,
.tabs-right > .nav-tabs {
  padding-bottom: 20px;
  width: 220px;
}
/* line 544, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003544}}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}
/* line 546, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003546}}
.tabs-left > .nav-tabs > li:focus,
.tabs-right > .nav-tabs > li:focus {
  outline: 0;
}
/* line 549, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003549}}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  margin-right: 0;
  margin-bottom: 3px;
}
/* line 552, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003552}}
.tabs-left > .nav-tabs > li > a:focus,
.tabs-right > .nav-tabs > li > a:focus {
  outline: 0;
}
/* line 558, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003558}}
.tabs-left > .tab-content,
.tabs-right > .tab-content {
  border-radius: 0 4px 4px 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #dddddd;
  overflow: hidden;
  padding: 10px 15px;
}
/* line 569, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003569}}
.tabs-left > .nav-tabs {
  float: left;
  margin-right: -1px;
}
/* line 572, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003572}}
.tabs-left > .nav-tabs > li > a {
  border-radius: 4px 0 0 4px;
}
/* line 574, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003574}}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}
/* line 579, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003579}}
.tabs-left > .nav-tabs > .active > a,
.tabs-left > .nav-tabs > .active > a:hover,
.tabs-left > .nav-tabs > .active > a:focus {
  border-color: #dddddd transparent #dddddd #dddddd;
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
}
/* line 590, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003590}}
.tabs-right > .nav-tabs {
  float: right;
  margin-left: -1px;
}
/* line 593, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003593}}
.tabs-right > .nav-tabs > li > a {
  border-radius: 0 4px 4px 0;
}
/* line 595, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003595}}
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}
/* line 601, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003601}}
.tabs-right > .nav-tabs > .active > a,
.tabs-right > .nav-tabs > .active > a:hover,
.tabs-right > .nav-tabs > .active > a:focus {
  border-color: #dddddd #dddddd #dddddd transparent;
}
/* line 610, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003610}}
th.checkbox,
td.checkbox,
th.radio,
td.radio {
  display: table-cell;
}
/* line 619, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003619}}
.views-display-settings .label {
  font-size: 100%;
  color: #666666;
}
/* line 623, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003623}}
.views-display-settings .footer {
  padding: 0;
  margin: 4px 0 0 0;
}
/* line 631, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003631}}
table .radio input[type="radio"],
table .checkbox input[type="checkbox"] {
  max-width: inherit;
}
/* line 638, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003638}}
.form-horizontal .form-group label {
  position: relative;
  min-height: 1px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
}
@media (min-width: 768px) {
  /* line 648, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003648}}
  .form-horizontal .form-group label {
    float: left;
    width: 16.666666666666664%;
  }
}
/* line 655, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003655}}
.alert a {
  font-weight: bold;
}
/* line 658, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003658}}
.alert-success a {
  color: #2b542c;
}
/* line 661, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003661}}
.alert-info a {
  color: #245269;
}
/* line 664, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003664}}
.alert-warning a {
  color: #66512c;
}
/* line 667, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003667}}
.alert-danger a {
  color: #843534;
}
/* line 670, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003670}}
.menu-block-wrapper {
  background-color: #002e5e;
}
/* line 673, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003673}}
.container-fluid {
  padding-right: 0px!important;
  padding-left: 0px!important;
}
/* line 677, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003677}}
.panels-flexible-region-site_template-top,
.panels-flexible-region-site_template-bottom {
  width: 100%;
}
/* line 680, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003680}}
.panels-flexible-region-site_template-center {
  width: 100%;
  padding-right: 1.4em!important;
  padding-left: 1.4em!important;
}
