/* line 16, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000316}}
html {
  height: 100%;
}
/* line 18, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000318}}
html.overlay-open .navbar-fixed-top {
  z-index: 400;
}
/* line 23, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000323}}
html.js fieldset.collapsed {
  height: auto;
}
/* line 27, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000327}}
html.js input.form-autocomplete {
  background-image: none;
}
/* line 32, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000332}}
body {
  position: relative;
}
/* line 36, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000336}}
body.admin-expanded.admin-vertical.admin-nw .navbar,
body.admin-expanded.admin-vertical.admin-sw .navbar {
  margin-left: 260px;
}
/* line 41, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000341}}
body.navbar-is-fixed-top {
  padding-top: 64px !important;
}
/* line 44, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000344}}
body.navbar-is-fixed-bottom {
  padding-bottom: 64px !important;
}
/* line 47, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000347}}
body.toolbar {
  padding-top: 30px !important;
}
/* line 49, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000349}}
body.toolbar .navbar-fixed-top {
  top: 30px;
}
/* line 52, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000352}}
body.toolbar.navbar-is-fixed-top {
  padding-top: 94px !important;
}
/* line 56, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000356}}
body.toolbar-drawer {
  padding-top: 64px !important;
}
/* line 58, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000358}}
body.toolbar-drawer .navbar-fixed-top {
  top: 64px;
}
/* line 61, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000361}}
body.toolbar-drawer.navbar-is-fixed-top {
  padding-top: 128px !important;
}
/* line 67, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000367}}
body.admin-menu .navbar-fixed-top {
  top: 29px;
}
/* line 70, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000370}}
body.admin-menu.navbar-is-fixed-top {
  padding-top: 93px !important;
}
/* line 74, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000374}}
body div#admin-toolbar {
  z-index: 1600;
}
/* line 78, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000378}}
body #toolbar,
body #admin-menu,
body #admin-toolbar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 82, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000382}}
body #admin-menu {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1600;
}
/* line 87, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000387}}
body #admin-menu .dropdown li {
  line-height: normal;
}
/* line 94, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000394}}
.navbar.container {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  /* line 95, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000395}}
  .navbar.container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  /* line 98, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000398}}
  .navbar.container {
    max-width: 940px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 101, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003101}}
  .navbar.container {
    max-width: 1140px;
  }
}
/* line 105, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003105}}
.navbar.container > .container {
  margin: 0;
  padding: 0;
  width: auto;
}
/* line 113, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003113}}
#overlay-container,
.overlay-modal-background,
.overlay-element {
  z-index: 1500;
}
/* line 118, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003118}}
#toolbar {
  z-index: 1600;
}
/* line 122, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003122}}
.modal {
  z-index: 1620;
}
/* line 125, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003125}}
.modal-dialog {
  z-index: 1630;
}
/* line 128, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003128}}
.modal-backdrop {
  z-index: 1610;
}
/* line 131, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003131}}
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}
/* line 139, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003139}}
.element-invisible {
  margin: 0;
  padding: 0;
  width: 1px;
}
/* line 146, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003146}}
.navbar .logo {
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  /* line 150, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003150}}
  .navbar .logo {
    margin-right: 0;
    padding-left: 0;
  }
}
/* line 157, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003157}}
ul.secondary {
  float: left;
}
@media screen and (min-width: 768px) {
  /* line 159, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003159}}
  ul.secondary {
    float: right;
  }
}
/* line 165, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003165}}
.page-header {
  margin-top: 0;
}
/* line 171, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003171}}
.block:first-child h2.block-title {
  margin-top: 0;
}
/* line 177, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003177}}
p:last-child {
  margin-bottom: 0;
}
/* line 183, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003183}}
.region-help > .glyphicon {
  font-size: 18px;
  float: left;
  margin: -0.05em 0.5em 0 0;
}
/* line 188, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003188}}
.region-help .block {
  overflow: hidden;
}
/* line 194, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003194}}
form#search-block-form {
  margin: 0;
}
/* line 197, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003197}}
.navbar #block-search-form {
  float: none;
  margin: 5px 0 5px 5px;
}
@media screen and (min-width: 992px) {
  /* line 200, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003200}}
  .navbar #block-search-form {
    float: right;
  }
}
/* line 204, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003204}}
.navbar-search .control-group {
  margin-bottom: 0px;
}
/* line 209, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003209}}
ul.action-links {
  margin: 12px 0;
  padding: 0;
}
/* line 212, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003212}}
ul.action-links li {
  display: inline;
  margin: 0;
  padding: 0 6px 0 0;
}
/* line 217, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003217}}
ul.action-links .glyphicon {
  padding-right: 0.5em;
}
/* line 223, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003223}}
input,
textarea,
select,
.uneditable-input {
  max-width: 100%;
  width: auto;
}
/* line 227, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003227}}
input.error {
  color: #a94442;
  border-color: #ebccd1;
}
/* line 231, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003231}}
fieldset legend.panel-heading {
  float: left;
  line-height: 1em;
  margin: 0;
}
/* line 236, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003236}}
fieldset .panel-body {
  clear: both;
}
/* line 239, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003239}}
fieldset .panel-heading a.panel-title {
  color: inherit;
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;
}
/* line 244, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003244}}
fieldset .panel-heading a.panel-title:hover {
  text-decoration: none;
}
/* line 248, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003248}}
.form-actions {
  clear: both;
}
/* line 251, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003251}}
.resizable-textarea textarea {
  border-radius: 4px 4px 0 0;
}
/* line 255, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003255}}
.radio:first-child,
.checkbox:first-child {
  margin-top: 0;
}
/* line 258, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003258}}
.radio:last-child,
.checkbox:last-child {
  margin-bottom: 0;
}
/* line 262, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003262}}
.help-block,
.control-group .help-inline {
  color: #777777;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
}
/* line 268, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003268}}
.panel-heading {
  display: block;
}
/* line 271, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003271}}
a.tabledrag-handle .handle {
  height: auto;
  width: auto;
}
/* line 277, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003277}}
.error {
  color: #a94442;
}
/* line 280, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003280}}
div.error,
table tr.error {
  background-color: #f2dede;
  color: #a94442;
}
/* line 285, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003285}}
.control-group.error {
  background: none;
}
/* line 287, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003287}}
.control-group.error label,
.control-group.error .control-label {
  color: #a94442;
  font-weight: 600;
}
/* line 291, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003291}}
.control-group.error input,
.control-group.error textarea,
.control-group.error select,
.control-group.error .uneditable-input {
  color: #555555;
  border: 1px solid #cccccc;
}
/* line 295, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003295}}
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #333333;
}
/* line 302, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003302}}
.list-inline > li.first {
  padding-left: 0;
}
/* line 306, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003306}}
.nav-tabs {
  margin-bottom: 10px;
}
/* line 309, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003309}}
ul li.collapsed,
ul li.expanded,
ul li.leaf {
  list-style: none;
  list-style-image: none;
}
/* line 315, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003315}}
.tabs--secondary {
  margin: 0 0 10px;
}
/* line 320, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003320}}
.submitted {
  margin-bottom: 1em;
  font-style: italic;
  font-weight: normal;
  color: #777;
}
/* line 328, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003328}}
.password-strength {
  width: 17em;
  float: right;
  /* LTR */

  margin-top: 1.4em;
}
/* line 333, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003333}}
.password-strength-title {
  display: inline;
}
/* line 336, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003336}}
.password-strength-text {
  float: right;
  /* LTR */

  font-weight: bold;
}
/* line 340, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003340}}
.password-indicator {
  background-color: #949494;
  height: 0.3em;
  width: 100%;
}
/* line 344, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003344}}
.password-indicator div {
  height: 100%;
  width: 0%;
  background-color: #999999;
}
/* line 350, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003350}}
input.password-confirm,
input.password-field {
  width: 16em;
  margin-bottom: 0.4em;
}
/* line 355, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003355}}
div.password-confirm {
  float: right;
  /* LTR */

  margin-top: 1.5em;
  visibility: hidden;
  width: 17em;
}
/* line 361, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003361}}
div.form-item div.password-suggestions {
  padding: 0.2em 0.5em;
  margin: 0.7em 0;
  width: 38.5em;
  border: 1px solid #B4B4B4;
}
/* line 367, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003367}}
div.password-suggestions ul {
  margin-bottom: 0;
}
/* line 370, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003370}}
.confirm-parent,
.password-parent {
  clear: left;
  /* LTR */

  margin: 0;
  width: 36.3em;
}
/* line 378, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003378}}
.progress-wrapper .progress {
  margin-bottom: 10px;
}
/* line 384, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003384}}
.pagination ul > li > a.progress-disabled {
  float: left;
}
/* line 391, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003391}}
.form-autocomplete .glyphicon {
  color: #777777;
  font-size: 120%;
}
/* line 394, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003394}}
.form-autocomplete .glyphicon.glyphicon-spin {
  color: #337ab7;
}
/* line 398, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003398}}
.form-autocomplete .input-group-addon {
  background-color: #ffffff;
}
/* line 405, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003405}}
.ajax-progress .glyphicon {
  font-size: 90%;
  margin: 0 -0.25em 0 0.5em;
}
/* line 411, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003411}}
.glyphicon-spin {
  display: inline-block;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
/* line 418, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003418}}
a .glyphicon-spin {
  display: inline-block;
  text-decoration: none;
}
@-moz-keyframes spin {
  /* line 423, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003423}}
  0% {
    -moz-transform: rotate(0deg);
  }
  /* line 426, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003426}}
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  /* line 431, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003431}}
  0% {
    -webkit-transform: rotate(0deg);
  }
  /* line 434, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003434}}
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  /* line 439, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003439}}
  0% {
    -o-transform: rotate(0deg);
  }
  /* line 442, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003442}}
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  /* line 447, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003447}}
  0% {
    -ms-transform: rotate(0deg);
  }
  /* line 450, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003450}}
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  /* line 455, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003455}}
  0% {
    transform: rotate(0deg);
  }
  /* line 458, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003458}}
  100% {
    transform: rotate(359deg);
  }
}
/* line 463, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003463}}
.glyphicon-refresh {
  -webkit-transform-origin: 50% 45%;
  -moz-transform-origin: 50% 45%;
  -ms-transform-origin: 50% 45%;
  -o-transform-origin: 50% 45%;
  transform-origin: 50% 45%;
}
/**
 * Missing Bootstrap 2 tab styling.
 * @see http://stackoverflow.com/questions/18432577/stacked-tabs-in-bootstrap-3
 * @see http://bootply.com/74926
 */
/* line 476, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003476}}
.tabbable {
  margin-bottom: 20px;
}
/* line 480, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003480}}
.tabs-below > .nav-tabs,
.tabs-left > .nav-tabs,
.tabs-right > .nav-tabs {
  border-bottom: 0;
}
/* line 482, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003482}}
.tabs-below > .nav-tabs .summary,
.tabs-left > .nav-tabs .summary,
.tabs-right > .nav-tabs .summary {
  color: #777777;
  font-size: 12px;
}
/* line 488, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003488}}
.tab-pane > .panel-heading {
  display: none;
}
/* line 491, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003491}}
.tab-content > .active {
  display: block;
}
/* line 497, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003497}}
.tabs-below > .nav-tabs {
  border-top: 1px solid #dddddd;
}
/* line 499, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003499}}
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
/* line 502, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003502}}
.tabs-below > .nav-tabs > li > a {
  border-radius: 0 0 4px 4px;
}
/* line 504, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003504}}
.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #dddddd;
  border-bottom-color: transparent;
}
/* line 512, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003512}}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #dddddd #dddddd #dddddd;
}
/* line 524, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003524}}
.tabs-left > .nav-tabs,
.tabs-right > .nav-tabs {
  padding-bottom: 20px;
  width: 220px;
}
/* line 527, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003527}}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}
/* line 529, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003529}}
.tabs-left > .nav-tabs > li:focus,
.tabs-right > .nav-tabs > li:focus {
  outline: 0;
}
/* line 532, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003532}}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  margin-right: 0;
  margin-bottom: 3px;
}
/* line 535, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003535}}
.tabs-left > .nav-tabs > li > a:focus,
.tabs-right > .nav-tabs > li > a:focus {
  outline: 0;
}
/* line 541, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003541}}
.tabs-left > .tab-content,
.tabs-right > .tab-content {
  border-radius: 0 4px 4px 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #dddddd;
  overflow: hidden;
  padding: 10px 15px;
}
/* line 552, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003552}}
.tabs-left > .nav-tabs {
  float: left;
  margin-right: -1px;
}
/* line 555, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003555}}
.tabs-left > .nav-tabs > li > a {
  border-radius: 4px 0 0 4px;
}
/* line 557, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003557}}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}
/* line 562, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003562}}
.tabs-left > .nav-tabs > .active > a,
.tabs-left > .nav-tabs > .active > a:hover,
.tabs-left > .nav-tabs > .active > a:focus {
  border-color: #dddddd transparent #dddddd #dddddd;
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
}
/* line 573, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003573}}
.tabs-right > .nav-tabs {
  float: right;
  margin-left: -1px;
}
/* line 576, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003576}}
.tabs-right > .nav-tabs > li > a {
  border-radius: 0 4px 4px 0;
}
/* line 578, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003578}}
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}
/* line 584, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003584}}
.tabs-right > .nav-tabs > .active > a,
.tabs-right > .nav-tabs > .active > a:hover,
.tabs-right > .nav-tabs > .active > a:focus {
  border-color: #dddddd #dddddd #dddddd transparent;
}
/* line 593, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003593}}
th.checkbox,
td.checkbox,
th.radio,
td.radio {
  display: table-cell;
}
/* line 602, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003602}}
.views-display-settings .label {
  font-size: 100%;
  color: #666666;
}
/* line 606, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003606}}
.views-display-settings .footer {
  padding: 0;
  margin: 4px 0 0 0;
}
/* line 614, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003614}}
table .radio input[type="radio"],
table .checkbox input[type="checkbox"] {
  max-width: inherit;
}
/* line 621, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003621}}
.form-horizontal .form-group label {
  position: relative;
  min-height: 1px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
}
@media (min-width: 768px) {
  /* line 631, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003631}}
  .form-horizontal .form-group label {
    float: left;
    width: 16.666666666666664%;
  }
}
/* line 638, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003638}}
.alert a {
  font-weight: bold;
}
/* line 641, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003641}}
.alert-success a {
  color: #2b542c;
}
/* line 644, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003644}}
.alert-info a {
  color: #245269;
}
/* line 647, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003647}}
.alert-warning a {
  color: #66512c;
}
/* line 650, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003650}}
.alert-danger a {
  color: #843534;
}
