/* line 16, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000316}}
html {
  height: 100%;
}
/* line 18, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000318}}
html.overlay-open .navbar-fixed-top {
  z-index: 400;
}
/* line 23, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000323}}
html.js fieldset.collapsed {
  height: auto;
}
/* line 27, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000327}}
html.js input.form-autocomplete {
  background-image: none;
}
/* line 32, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000332}}
.fa-home {
  color: #002e5e;
  font-size: 1.4em;
}
/* line 36, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000336}}
.fa-circle {
  color: #fff;
}
/* line 39, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000339}}
body {
  position: relative;
}
/* line 40, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000340}}
body .navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  /* line 48, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000348}}
  body .navbar-default .navbar-nav > li > a::after {
    font-family: FontAwesome;
    content: "\f142 ";
    font-size: 1em;
    font-weight: normal;
    margin-left: 0.8em;
    margin-right: 0.4em;
  }
}
/* line 57, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000357}}
body .navbar-default {
  border-color: transparent;
}
/* line 63, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000363}}
body.admin-expanded.admin-vertical.admin-nw .navbar,
body.admin-expanded.admin-vertical.admin-sw .navbar {
  margin-left: 260px;
}
/* line 67, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000367}}
body .navbar {
  margin-bottom: 0;
}
/* line 71, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000371}}
body.navbar-is-fixed-top {
  padding-top: 64px !important;
}
/* line 74, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000374}}
body.navbar-is-fixed-bottom {
  padding-bottom: 64px !important;
}
/* line 77, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000377}}
body.toolbar {
  padding-top: 30px !important;
}
/* line 79, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000379}}
body.toolbar .navbar-fixed-top {
  top: 30px;
}
/* line 82, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000382}}
body.toolbar.navbar-is-fixed-top {
  padding-top: 94px !important;
}
/* line 86, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000386}}
body.toolbar-drawer {
  padding-top: 64px !important;
}
/* line 88, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000388}}
body.toolbar-drawer .navbar-fixed-top {
  top: 64px;
}
/* line 91, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000391}}
body.toolbar-drawer.navbar-is-fixed-top {
  padding-top: 128px !important;
}
/* line 97, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\0000397}}
body.admin-menu .navbar-fixed-top {
  top: 29px;
}
/* line 100, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003100}}
body.admin-menu.navbar-is-fixed-top {
  padding-top: 93px !important;
}
/* line 104, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003104}}
body div#admin-toolbar {
  z-index: 1600;
}
/* line 108, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003108}}
body #toolbar,
body #admin-menu,
body #admin-toolbar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 112, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003112}}
body #admin-menu {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1600;
}
/* line 117, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003117}}
body #admin-menu .dropdown li {
  line-height: normal;
}
/* line 124, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003124}}
.navbar.container {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  /* line 125, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003125}}
  .navbar.container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  /* line 128, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003128}}
  .navbar.container {
    max-width: 940px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 131, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003131}}
  .navbar.container {
    max-width: 1140px;
  }
}
/* line 135, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003135}}
.navbar.container > .container {
  margin: 0;
  padding: 0;
  width: auto;
}
/* line 143, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003143}}
#overlay-container,
.overlay-modal-background,
.overlay-element {
  z-index: 1500;
}
/* line 148, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003148}}
#toolbar {
  z-index: 1600;
}
/* line 152, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003152}}
.modal {
  z-index: 1620;
}
/* line 155, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003155}}
.modal-dialog {
  z-index: 1630;
}
/* line 158, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003158}}
.modal-backdrop {
  z-index: 1610;
}
/* line 161, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003161}}
.footer {
  border-top: none;
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
}
/* line 167, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003167}}
.panels-flexible-row-site_template-2-inside {
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* line 173, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003173}}
.element-invisible {
  margin: 0;
  padding: 0;
  width: 1px;
}
/* line 180, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003180}}
.navbar .logo {
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  /* line 184, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003184}}
  .navbar .logo {
    margin-right: 0;
    padding-left: 0;
  }
}
/* line 191, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003191}}
ul.secondary {
  float: left;
}
@media screen and (min-width: 768px) {
  /* line 193, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003193}}
  ul.secondary {
    float: right;
  }
}
/* line 199, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003199}}
.page-header {
  margin-top: 0;
}
/* line 205, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003205}}
.block:first-child h2.block-title {
  margin-top: 0;
}
/* line 211, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003211}}
p:last-child {
  margin-bottom: 0;
}
/* line 217, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003217}}
.region-help > .glyphicon {
  font-size: 18px;
  float: left;
  margin: -0.05em 0.5em 0 0;
}
/* line 222, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003222}}
.region-help .block {
  overflow: hidden;
}
/* line 227, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003227}}
.navbar #block-search-form {
  float: none;
  margin: 5px 0 5px 5px;
}
@media screen and (min-width: 992px) {
  /* line 230, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003230}}
  .navbar #block-search-form {
    float: right;
  }
}
/* line 234, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003234}}
.navbar-search .control-group {
  margin-bottom: 0px;
}
/* line 239, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003239}}
ul.action-links {
  margin: 12px 0;
  padding: 0;
}
/* line 242, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003242}}
ul.action-links li {
  display: inline;
  margin: 0;
  padding: 0 6px 0 0;
}
/* line 247, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003247}}
ul.action-links .glyphicon {
  padding-right: 0.5em;
}
/* line 253, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003253}}
input,
textarea,
select,
.uneditable-input {
  max-width: 100%;
  width: auto;
}
/* line 257, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003257}}
input.error {
  color: #a94442;
  border-color: #ebccd1;
}
/* line 261, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003261}}
fieldset legend.panel-heading {
  float: left;
  line-height: 1em;
  margin: 0;
}
/* line 266, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003266}}
fieldset .panel-body {
  clear: both;
}
/* line 269, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003269}}
fieldset .panel-heading a.panel-title {
  color: inherit;
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;
}
/* line 274, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003274}}
fieldset .panel-heading a.panel-title:hover {
  text-decoration: none;
}
/* line 278, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003278}}
.form-actions {
  clear: both;
}
/* line 281, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003281}}
.resizable-textarea textarea {
  border-radius: 4px 4px 0 0;
}
/* line 285, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003285}}
.radio:first-child,
.checkbox:first-child {
  margin-top: 0;
}
/* line 288, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003288}}
.radio:last-child,
.checkbox:last-child {
  margin-bottom: 0;
}
/* line 292, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003292}}
.help-block,
.control-group .help-inline {
  color: #777777;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
}
/* line 298, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003298}}
.panel-heading {
  display: block;
}
/* line 301, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003301}}
a.tabledrag-handle .handle {
  height: auto;
  width: auto;
}
/* line 307, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003307}}
.error {
  color: #a94442;
}
/* line 310, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003310}}
div.error,
table tr.error {
  background-color: #f2dede;
  color: #a94442;
}
/* line 315, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003315}}
.control-group.error {
  background: none;
}
/* line 317, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003317}}
.control-group.error label,
.control-group.error .control-label {
  color: #a94442;
  font-weight: 600;
}
/* line 321, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003321}}
.control-group.error input,
.control-group.error textarea,
.control-group.error select,
.control-group.error .uneditable-input {
  color: #555555;
  border: 1px solid #cccccc;
}
/* line 325, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003325}}
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #333333;
}
/* line 332, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003332}}
.list-inline > li.first {
  padding-left: 0;
}
/* line 336, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003336}}
.nav-tabs {
  margin-bottom: 10px;
}
/* line 339, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003339}}
ul li.collapsed,
ul li.expanded,
ul li.leaf {
  list-style: none;
  list-style-image: none;
}
/* line 345, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003345}}
.tabs--secondary {
  margin: 0 0 10px;
}
/* line 350, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003350}}
.submitted {
  margin-bottom: 1em;
  font-style: italic;
  font-weight: normal;
  color: #777;
}
/* line 358, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003358}}
.password-strength {
  width: 17em;
  float: right;
  /* LTR */

  margin-top: 1.4em;
}
/* line 363, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003363}}
.password-strength-title {
  display: inline;
}
/* line 366, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003366}}
.password-strength-text {
  float: right;
  /* LTR */

  font-weight: bold;
}
/* line 370, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003370}}
.password-indicator {
  background-color: #949494;
  height: 0.3em;
  width: 100%;
}
/* line 374, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003374}}
.password-indicator div {
  height: 100%;
  width: 0%;
  background-color: #999999;
}
/* line 380, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003380}}
input.password-confirm,
input.password-field {
  width: 16em;
  margin-bottom: 0.4em;
}
/* line 385, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003385}}
div.password-confirm {
  float: right;
  /* LTR */

  margin-top: 1.5em;
  visibility: hidden;
  width: 17em;
}
/* line 391, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003391}}
div.form-item div.password-suggestions {
  padding: 0.2em 0.5em;
  margin: 0.7em 0;
  width: 38.5em;
  border: 1px solid #B4B4B4;
}
/* line 397, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003397}}
div.password-suggestions ul {
  margin-bottom: 0;
}
/* line 400, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003400}}
.confirm-parent,
.password-parent {
  clear: left;
  /* LTR */

  margin: 0;
  width: 36.3em;
}
/* line 408, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003408}}
.progress-wrapper .progress {
  margin-bottom: 10px;
}
/* line 414, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003414}}
.pagination ul > li > a.progress-disabled {
  float: left;
}
/* line 421, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003421}}
.form-autocomplete .glyphicon {
  color: #777777;
  font-size: 120%;
}
/* line 424, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003424}}
.form-autocomplete .glyphicon.glyphicon-spin {
  color: #337ab7;
}
/* line 428, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003428}}
.form-autocomplete .input-group-addon {
  background-color: #ffffff;
}
/* line 433, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003433}}
.navbar-form .form-control.form-text {
  border-radius: 5em;
  border-bottom-right-radius: 5em;
  border-top-right-radius: 5em;
}
/* line 438, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003438}}
#search-block-form.form-search.content-search button.btn.btn-default {
  border-radius: 5em;
}
/* line 443, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003443}}
.ajax-progress .glyphicon {
  font-size: 90%;
  margin: 0 -0.25em 0 0.5em;
}
/* line 449, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003449}}
.glyphicon-spin {
  display: inline-block;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
/* line 456, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003456}}
a .glyphicon-spin {
  display: inline-block;
  text-decoration: none;
}
@-moz-keyframes spin {
  /* line 461, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003461}}
  0% {
    -moz-transform: rotate(0deg);
  }
  /* line 464, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003464}}
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  /* line 469, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003469}}
  0% {
    -webkit-transform: rotate(0deg);
  }
  /* line 472, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003472}}
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  /* line 477, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003477}}
  0% {
    -o-transform: rotate(0deg);
  }
  /* line 480, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003480}}
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  /* line 485, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003485}}
  0% {
    -ms-transform: rotate(0deg);
  }
  /* line 488, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003488}}
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  /* line 493, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003493}}
  0% {
    transform: rotate(0deg);
  }
  /* line 496, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003496}}
  100% {
    transform: rotate(359deg);
  }
}
/* line 501, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003501}}
.glyphicon-refresh {
  -webkit-transform-origin: 50% 45%;
  -moz-transform-origin: 50% 45%;
  -ms-transform-origin: 50% 45%;
  -o-transform-origin: 50% 45%;
  transform-origin: 50% 45%;
}
/**
 * Missing Bootstrap 2 tab styling.
 * @see http://stackoverflow.com/questions/18432577/stacked-tabs-in-bootstrap-3
 * @see http://bootply.com/74926
 */
/* line 514, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003514}}
.tabbable {
  margin-bottom: 20px;
}
/* line 518, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003518}}
.tabs-below > .nav-tabs,
.tabs-left > .nav-tabs,
.tabs-right > .nav-tabs {
  border-bottom: 0;
}
/* line 520, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003520}}
.tabs-below > .nav-tabs .summary,
.tabs-left > .nav-tabs .summary,
.tabs-right > .nav-tabs .summary {
  color: #777777;
  font-size: 12px;
}
/* line 526, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003526}}
.tab-pane > .panel-heading {
  display: none;
}
/* line 529, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003529}}
.tab-content > .active {
  display: block;
}
/* line 535, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003535}}
.tabs-below > .nav-tabs {
  border-top: 1px solid #dddddd;
}
/* line 537, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003537}}
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
/* line 540, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003540}}
.tabs-below > .nav-tabs > li > a {
  border-radius: 0 0 4px 4px;
}
/* line 542, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003542}}
.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #dddddd;
  border-bottom-color: transparent;
}
/* line 550, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003550}}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #dddddd #dddddd #dddddd;
}
/* line 562, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003562}}
.tabs-left > .nav-tabs,
.tabs-right > .nav-tabs {
  padding-bottom: 20px;
  width: 220px;
}
/* line 565, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003565}}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}
/* line 567, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003567}}
.tabs-left > .nav-tabs > li:focus,
.tabs-right > .nav-tabs > li:focus {
  outline: 0;
}
/* line 570, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003570}}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  margin-right: 0;
  margin-bottom: 3px;
}
/* line 573, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003573}}
.tabs-left > .nav-tabs > li > a:focus,
.tabs-right > .nav-tabs > li > a:focus {
  outline: 0;
}
/* line 579, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003579}}
.tabs-left > .tab-content,
.tabs-right > .tab-content {
  border-radius: 0 4px 4px 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #dddddd;
  overflow: hidden;
  padding: 10px 15px;
}
/* line 590, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003590}}
.tabs-left > .nav-tabs {
  float: left;
  margin-right: -1px;
}
/* line 593, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003593}}
.tabs-left > .nav-tabs > li > a {
  border-radius: 4px 0 0 4px;
}
/* line 595, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003595}}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}
/* line 600, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003600}}
.tabs-left > .nav-tabs > .active > a,
.tabs-left > .nav-tabs > .active > a:hover,
.tabs-left > .nav-tabs > .active > a:focus {
  border-color: #dddddd transparent #dddddd #dddddd;
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
}
/* line 611, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003611}}
.tabs-right > .nav-tabs {
  float: right;
  margin-left: -1px;
}
/* line 614, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003614}}
.tabs-right > .nav-tabs > li > a {
  border-radius: 0 4px 4px 0;
}
/* line 616, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003616}}
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}
/* line 622, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003622}}
.tabs-right > .nav-tabs > .active > a,
.tabs-right > .nav-tabs > .active > a:hover,
.tabs-right > .nav-tabs > .active > a:focus {
  border-color: #dddddd #dddddd #dddddd transparent;
}
/* line 631, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003631}}
th.checkbox,
td.checkbox,
th.radio,
td.radio {
  display: table-cell;
}
/* line 640, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003640}}
.views-display-settings .label {
  font-size: 100%;
  color: #666666;
}
/* line 644, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003644}}
.views-display-settings .footer {
  padding: 0;
  margin: 4px 0 0 0;
}
/* line 652, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003652}}
table .radio input[type="radio"],
table .checkbox input[type="checkbox"] {
  max-width: inherit;
}
/* line 659, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003659}}
.form-horizontal .form-group label {
  position: relative;
  min-height: 1px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
}
@media (min-width: 768px) {
  /* line 669, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003669}}
  .form-horizontal .form-group label {
    float: left;
    width: 16.666666666666664%;
  }
}
/* line 676, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003676}}
.alert a {
  font-weight: bold;
}
/* line 679, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003679}}
.alert-success a {
  color: #2b542c;
}
/* line 682, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003682}}
.alert-info a {
  color: #245269;
}
/* line 685, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003685}}
.alert-warning a {
  color: #66512c;
}
/* line 688, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003688}}
.alert-danger a {
  color: #843534;
}
/* line 691, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003691}}
.menu-block-wrapper {
  background-color: #002e5e;
}
/* line 694, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003694}}
.container-fluid {
  padding-right: 0px!important;
  padding-left: 0px!important;
}
/* line 698, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003698}}
.panels-flexible-region-site_template-top,
.panels-flexible-region-site_template-bottom {
  width: 100%;
}
/* line 701, /var/aegir/platforms/kultur-35/sites/all/themes/kultur_theme/less/overrides.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/kultur-35\/sites\/all\/themes\/kultur_theme\/less\/overrides\.less}line{font-family:\00003701}}
.panels-flexible-region-site_template-center {
  width: 100%;
  padding-right: 1.4em!important;
  padding-left: 1.4em!important;
}
