// Insert your styling here.
.nyheder_front_block {
  color: #fff;
  font-size: 14pt;
  display: inline-block;
  width: 100%;
  height: 35px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #d70a8c;
}
.info_front_block {
  color: #fff;
  font-size: 14pt;
  display: inline-block;
  width: 100%;
  height: 35px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  background-color: #d7e132;
}
.arrangementer_front_block {
  color: #fff;
  font-size: 14pt;
  display: inline-block;
  width: 100%;
  height: 35px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #00b9be;
}
.dagens-ret {
   color: #D6E033;
   font-weight: bold;
}
.view-calendar .views-row {
   padding-left: 0.5em;
   padding-right: 0.5em;
}
.views-field-field-list-image {
    display: inline-block;
}
.subheading {
    display: inline-block;
    width: 73%;
    margin: 0 1.4em 0.5em 0.5em;
    position: absolute;
}
.field-name-field-tags .field-item:after {
    content: ",";
}
.field-name-field-tags .field-item {
    display: inline;
    margin-right: 0.5em;
}
.views-field-title .field-content > a {
    font-weight: bold;
    font-size: 11pt;
    color: #337ab7;
    text-transform: uppercase;
}
.view-Nyheder .views-field-title .field-content > a {
    color: #D70A8C;
}
.view-arrangementer .views-field-title .field-content > a {
    color: #00b9be;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.dropdown:hover .dropdown-menu {
    display: block;
 }
 .dropdown-menu {
    background-color: #F5F5F5;
    padding: 0;
    box-shadow: none;
    border: none;
    min-width: 100%;
    min-height: 200px;    
    border-bottom: 0.1em outset #01b2bb;
    border-left: 0.1em outset #01b2bb;
 }
.dropdown-menu > li > a {
    color: black;
    text-transform: uppercase;
    padding: 5px 5px;
    font-size: 8pt;
}
.open > .dropdown-menu {

}

.navbar-nav > li > .dropdown-menu {
    border-radius: 0;
}
.menu.nav li > a:hover, .menu.nav li > a:focus, .active > a {
    background-color: #01B2BB;
    color: white;
    text-decoration: none;
}
.menu.nav > .active > a, .menu.nav > .active > a:hover, .menu.nav > .active > a:focus {
    background-color: #01B2BB;
    color: white;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: white;
    background-color: #01B2BB;
}
.front .panels-flexible-region-4_x_3-far_right-inside {
    margin-top: 4em;
}
.views-field.views-field-created {
    color: gray;
    margin-top: 0.3em;
}
.breadcrumb {
    background-color: #01B2BB;
    color: white;
}
.breadcrumb a {
    color: white;
}