/* Small devices (tablets, 768px and up) */
// Bootstrap variables.
@import '../variables.less';
@media (min-width: @screen-sm-min) { 
    .view-arrangementer .subheading{
        width: 87%;
    }
    .view-arrangementer .views-row ,  .view-Nyheder .views-row
    {
        height: 165px;
    }
   /*
    * view-id-Nyheder
    */
}
@media (min-width: @screen-sm-min ) and (orientation: landscape) { 
    .view-arrangementer .subheading{
        width:  90%;
    }
    .view-arrangementer .views-row ,  .view-Nyheder .views-row
    {
        height: 122px;
    }
    /*
    * view-id-Nyheder
    */
}


