/* Large devices (large desktops, 1200px and up) */
// Bootstrap variables.
@import '../variables.less';
@media (min-width: @screen-lg-min) { 
    .view-arrangementer .views-row ,  .view-Nyheder .views-row
    {
        height: auto;
        min-height: 135px;
    }
    .view-arrangementer .subheading{
        width: 99%;
    }
    .view-arrangementer .views-field-title
    {
        font-size: 12px;
        width:100%;
    }
    .view-arrangementer .views-field-field-event-category, .view-arrangementer .views-field-field-category
    {
        width:auto;
    }
   .view-arrangementer  .views-field-field-dato
    {
        width: auto;
    }
    .view-arrangementer .views-field-field-rum-og-sted
    {
        width: 78%;
    }
    .view-arrangementer .views-field-field-location-name-line
    {
        width: 78%;
    }
    .view-arrangementer .views-field-field-lead{
        width: 78%;
    }
    .pager-next a
    {
        padding: 5px 14px !important;
    }
    .pager-previous a
    {
      padding: 5px 14px !important;
    }
}
@media (min-width: @screen-lg-min ) and (orientation: landscape) { 
    .view-arrangementer .views-row ,  .view-Nyheder .views-row
    {
        height: auto;
        min-height: 135px;
    }
    .pager-next a
    {
        padding: 5px 14px !important;
    }
    .pager-previous a
    {
      padding: 5px 14px !important;
    }
    /*
    * view-id-Nyheder
    */
}